<div class="navbar">
	<img data-v-1b30dec8="" data-v-3c3a7497="" 
	alt="Berean Baptist Church logo" class="" style="--width:148.75px; 
	--mobile-width:70.8333px;" srcset="https://bereanmn.square.site/uploads/b/33b2bfd3ecf0e7ce1db476b7bcecacdea969c9db490ec45edccb54478b8cd952/logo%20BLACK_horizontal_1607092278.png?width=400 400w, https://bereanmn.square.site/uploads/b/33b2bfd3ecf0e7ce1db476b7bcecacdea969c9db490ec45edccb54478b8cd952/logo%20BLACK_horizontal_1607092278.png?width=800 800w, https://bereanmn.square.site/uploads/b/33b2bfd3ecf0e7ce1db476b7bcecacdea969c9db490ec45edccb54478b8cd952/logo%20BLACK_horizontal_1607092278.png?width=1200 1200w, https://bereanmn.square.site/uploads/b/33b2bfd3ecf0e7ce1db476b7bcecacdea969c9db490ec45edccb54478b8cd952/logo%20BLACK_horizontal_1607092278.png?width=1600 1600w, https://bereanmn.square.site/uploads/b/33b2bfd3ecf0e7ce1db476b7bcecacdea969c9db490ec45edccb54478b8cd952/logo%20BLACK_horizontal_1607092278.png?width=2000 2000w, https://bereanmn.square.site/uploads/b/33b2bfd3ecf0e7ce1db476b7bcecacdea969c9db490ec45edccb54478b8cd952/logo%20BLACK_horizontal_1607092278.png?width=2400 2400w" 
	sizes="(min-width: 600px) 148.75px, 70.83333333333334px" src="https://bereanmn.square.site/uploads/b/33b2bfd3ecf0e7ce1db476b7bcecacdea969c9db490ec45edccb54478b8cd952/logo%20BLACK_horizontal_1607092278.png">
	</img>
  <a href="./">Home</a>
  <a href="./merchandise">Merchandise</a>
  <div class="dropdown">
    <button class="dropbtn">Menu
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="./featured">Featured Drinks</a>
      <a href="./colddrinks">Cold Drinks</a>
      <a href="./hotdrinks">Hot Drinks</a>
    </div>
  </div>
  <a href="./contact-us">Contact Us</a>
  <a href="./sign-in">Sign in</a>
</div>
