
<div class="navbar">
  <a class="active" href="./">Home</a>
  <a href="./merchandise">Merchandise</a>
  <div class="dropdown" class="active">
    <button class="dropbtn">Menu
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="./featured">Featured Drinks</a>
      <a href="./colddrinks">Frozen Drinks</a>
      <a href="./hotdrinks">Hot Drinks</a>
    </div>
  </div>
  
  <a href="./contact-us">Contact Us</a>
  
  <div class= "login-container">
   <a href="./sign-in">Sign in</a>
  </div>
 
</div>
