<div class="navbar">
  <a href="./">Home</a>
  <a href="./merchandise">Merchandise</a>
  <div class="dropdown">
    <button class="dropbtn">Menu
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="./featured">Featured Drinks</a>
      <a href="./colddrinks">Cold Drinks</a>
      <a href="./hotdrinks">Hot Drinks</a>
    </div>
  </div>
  <a href="./contact-us">Contact Us</a>
  <a href="./sign-in">Sign in</a>
</div>


<!-- <nav>
	<a href="./">Home</a>
	 <div class="dropdown">
    <button class="dropbtn">Menu
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Featured Drinks</a>
      <a href="#">Cold Drinks</a>
      <a href="#">Hot Drinks</a>
    </div>
    </div>
	<a href="./merchandise">Merchandise</a>
	<a href="./contact-us">Contact US</a>
	<a href="./sign-in">Sign-in</a> 
</nav> -->